.sent {
  align-self: flex-end;
}

.received {
  align-self: flex-start;
}

.message-container {
  max-width: 50%;
  width: fit-content;
  word-wrap: break-word;

  display: inline-block;

  border: 1px solid black;
  border-radius: 20px;

  margin: 0.5rem 1rem;
  padding: 0.3rem 1.2rem;
}

.messages-list-container {
  overflow-y: auto;
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
}
